<!-- visualizar_comissoes.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Comissões</title>
</head>
<body>
    <h1>Visualizar Comissões</h1>
    <table border="1">
        <tr>
            <th>Nome do Corretor</th>
            <th>Mês</th>
            <th>Total de Comissão</th>
            <th>Detalhes</th>  <!-- Adicione uma coluna para o link de detalhes -->
        </tr>
        {% for comissao in comissoes %}
        <tr>
            <td>{{ comissao[0] }}</td>
            <td>{{ comissao[1].strftime('%B %Y') }}</td>
            <td>R$ {{ comissao[2] }}</td>
            <td><a href="{{ url_for('detalhes_propostas', nome_corretor=comissao[0], mes=comissao[1].strftime('%Y-%m')) }}">Detalhes</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
